.demo-users-cell .x-body-el {
    color: material-color('deep-orange', '500');
    font-weight: 700;
}

.demo-users-avatar {
    border-radius: 50%;
    border: 2px solid #ddd;
    width: 40px;
    height: 40px;
    float: left;
}
